table
{
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  width: 80%;

  border-collapse: collapse;
}
tr
{
  border-style: solid;
  margin: auto;
  
}
td
{
  text-align: center;
  vertical-align: middle;
  border-style: solid;
}